<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47322774431-oa5upar088hppdb73rk6mtbammje54tk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47322774431-oa5upar088hppdb73rk6mtbammje54tk</string>
	<key>API_KEY</key>
	<string>AIzaSyA3gqOg4nr2F4F7xJRUnzzcZX6sMQT2p3k</string>
	<key>GCM_SENDER_ID</key>
	<string>47322774431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.saveWater</string>
	<key>PROJECT_ID</key>
	<string>solution-challenge-2023-94097</string>
	<key>STORAGE_BUCKET</key>
	<string>solution-challenge-2023-94097.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47322774431:ios:b96cb1622f3d6f64ea5baa</string>
</dict>
</plist>